# 생활인구 데이터 홈페이지
https://data.seoul.go.kr/dataVisual/seoul/seoulLivingPopulation.do

In [1]:
import os
import json
import pandas as pd
import numpy as np
import datetime

In [2]:
data_path = '/home/zimin/datasets/seoul/'
geo_path = data_path + 'skorea_submunicipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))
geo_str['features'] = [i for i in geo_str['features'] if i['properties']['code'][:2] == '11']

In [3]:
analysis = datetime.datetime(2019,11, 22, 20)
week = {0 : '월요일', 1 : '화요일', 2 : '수요일', 3 : '목요일', 4 : '금요일', 5 : '토요일', 6 : '일요일'}
weekday = week[analysis.weekday()]
date = str(analysis.year) + str(analysis.month) + str(analysis.day)

In [5]:
weekday, date

('금요일', '20191122')

In [40]:
# 그냥 생활인구
local = pd.read_csv(os.path.join(data_path, 'LOCAL_PEOPLE_' + date + '.csv'))

In [41]:

mapping = pd.read_csv(os.path.join(data_path,'행정동코드_매핑정보_2018.csv'))
mapping.drop(0, axis =0, inplace = True)

check_local = np.unique( local.iloc[:,2].values) # 생활인구데이터 행정동코드 
name_dict = {i : mapping[mapping['행자부행정동코드'] == str(i)].iloc[:,4].values[0] for i in check_local} # 행정동코드를 행정동 이름으로
map_dict = {i : str(mapping[mapping['행자부행정동코드'] == str(i)].iloc[:,0].values[0]) for i in check_local} # 행정동코드를 통계청행정동 코드로

local['행정동이름'] = local['행정동코드'].apply(lambda x : name_dict[x])
local['행정동코드'] = local['행정동코드'].apply(lambda x : map_dict[x])

In [42]:
local = local[['기준일ID',
 '시간대구분',
 '행정동코드',
 '행정동이름',
 '총생활인구수',
 '남자10세부터14세생활인구수',
 '남자15세부터19세생활인구수',
 '남자20세부터24세생활인구수',
 '남자25세부터29세생활인구수',
 '남자30세부터34세생활인구수',
 '남자35세부터39세생활인구수',
 '남자40세부터44세생활인구수',
 '남자45세부터49세생활인구수',
 '남자50세부터54세생활인구수',
 '남자55세부터59세생활인구수',
 '남자60세부터64세생활인구수',
 '남자65세부터69세생활인구수',
 '남자70세이상생활인구수',
 '여자10세부터14세생활인구수',
 '여자15세부터19세생활인구수',
 '여자20세부터24세생활인구수',
 '여자25세부터29세생활인구수',
 '여자30세부터34세생활인구수',
 '여자35세부터39세생활인구수',
 '여자40세부터44세생활인구수',
 '여자45세부터49세생활인구수',
 '여자50세부터54세생활인구수',
 '여자55세부터59세생활인구수',
 '여자60세부터64세생활인구수',
 '여자65세부터69세생활인구수',
 '여자70세이상생활인구수']]

In [43]:
prev1 = [ '남자10세부터14세생활인구수',
 '남자15세부터19세생활인구수',
 '남자20세부터24세생활인구수',
 '남자25세부터29세생활인구수',
 '남자30세부터34세생활인구수',
 '남자35세부터39세생활인구수',
 '남자40세부터44세생활인구수',
 '남자45세부터49세생활인구수',
 '남자50세부터54세생활인구수',
 '남자55세부터59세생활인구수',
 '남자60세부터64세생활인구수',
 '남자65세부터69세생활인구수',
 '남자70세이상생활인구수']
prev2 =[
 '여자10세부터14세생활인구수',
 '여자15세부터19세생활인구수',
 '여자20세부터24세생활인구수',
 '여자25세부터29세생활인구수',
 '여자30세부터34세생활인구수',
 '여자35세부터39세생활인구수',
 '여자40세부터44세생활인구수',
 '여자45세부터49세생활인구수',
 '여자50세부터54세생활인구수',
 '여자55세부터59세생활인구수',
 '여자60세부터64세생활인구수',
 '여자65세부터69세생활인구수',
 '여자70세이상생활인구수']

In [44]:
local[prev1 + prev2] = local[prev1 + prev2].replace('*',0)
local[prev1 + prev2] = local[prev1 + prev2].astype(int)

In [45]:
local

,기준일ID,시간대구분,행정동코드,행정동이름,총생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20191122,0,1101072,청운효자동,567.0,21,19,20,23,17,...,18,16,19,25,29,21,26,13,12,42
1,20191122,0,1101072,청운효자동,739.0,12,19,21,23,21,...,25,27,29,37,35,33,28,26,17,71
2,20191122,0,1101072,청운효자동,68.0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,4
3,20191122,0,1101072,청운효자동,574.0,15,14,14,13,13,...,19,19,30,36,33,24,22,22,15,29
4,20191122,0,1101072,청운효자동,177.0,4,6,5,5,0,...,5,5,6,6,9,4,10,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459661,20191122,23,1125071,둔촌2동,907.0,13,28,17,21,24,...,28,32,40,45,46,39,42,32,29,61
459662,20191122,23,1125071,둔촌2동,218.0,0,7,4,4,5,...,7,7,10,11,11,9,9,7,6,14
459663,20191122,23,1125071,둔촌2동,1235.0,24,29,20,34,43,...,27,42,44,54,53,40,71,60,52,104
459664,20191122,23,1125071,둔촌2동,220.0,7,7,5,5,4,...,5,7,6,7,11,8,12,6,10,14
459665,20191122,23,1125071,둔촌2동,613.0,8,20,11,13,15,...,19,21,28,31,32,27,27,20,18,39

In [46]:
local = local.groupby(['행정동이름','행정동코드','기준일ID','시간대구분']).sum()

In [47]:
after1 = {i : 110+5*j for j,i in enumerate(prev1)}
after2 = {i : 210+5*j for j,i in enumerate(prev2)}
after = dict(after1, **after2)

In [48]:
local.rename(columns = after, inplace=True)
local.to_csv(os.path.join(data_path, 'pre_local_PEOPLE_' + date + '.csv'))

In [49]:
local

                               총생활인구수  110  115   120   125   130   135   140  \
행정동이름 행정동코드   기준일ID    시간대구분
가락1동  1124066 20191122 0      30767.0  546  579   573   882  1424  1796  1423
                       1      30936.0  530  608   582   865  1472  1850  1438
                       2      30940.0  547  657   594   853  1424  1877  1465
                       3      30924.0  545  627   572   885  1459  1843  1473
                       4      31096.0  540  638   572   912  1472  1841  1483
...                               ...  ...  ...   ...   ...   ...   ...   ...
흑석동   1120071 20191122 19     37508.0  313  920  2916  2422  1138  1292  1048
                       20     37684.0  334  887  2850  2316  1185  1340  1112
                       21     36933.0  337  841  2663  2213  1187  1374  1047
                       22     37359.0  370  900  2584  2079  1196  1417  1046
                       23     37835.0  401  970  2528  2054  1189  1446  1178

                               145   150  ...   225   230   235   240   245  \
행정동이름 행정동코드   기준일ID    시간대구분              ...
가락1동  1124066 20191122 0      1473  1223  ...  1139  1599  1614  1171  1164
                       1      1502  1255  ...  1153  1617  1588  1143  1163
                       2      1539  1299  ...  1145  1600  1548  1141  1156
                       3      1519  1338  ...  1130  1615  1564  1108  1149
                       4      1457  1340  ...  1143  1587  1555  1107  1158
...                            ...   ...  ...   ...   ...   ...   ...   ...
흑석동   1120071 20191122 19     1231  1039  ...  1676  1097  1166  1097  1089
                       20     1190  1067  ...  1787  1166  1201  1197  1082
                       21     1198  1018  ...  1628  1202  1298  1210  1096
                       22     1239  1026  ...  1629  1190  1304  1227  1168
                       23     1308  1046  ...  1634  1199  1333  1275  1198

                               250   255   260  265   270
행정동이름 행정동코드   기준일ID    시간대구분
가락1동  1124066 20191122 0      1080  1415  1117  765  1253
                       1      1109  1426  1119  771  1251
                       2      1103  1407  1121  802  1263
                       3      1096  1431  1098  818  1244
                       4      1070  1394  1119  779  1265
...                            ...   ...   ...  ...   ...
흑석동   1120071 20191122 19     1002  1221  1251  771  2791
                       20     1017  1257  1229  783  2771
                       21     1032  1292  1198  775  2761
                       22     1049  1350  1213  803  2720
                       23     1106  1377  1224  847  2754

[10176 rows x 27 columns]