# 생활인구 데이터 홈페이지
https://data.seoul.go.kr/dataVisual/seoul/seoulLivingPopulation.do

In [1]:
import os
import json
import pandas as pd
import numpy as np

In [2]:
date = '1123'

In [3]:
data_path = '/home/zimin/datasets/seoul/'
geo_path = data_path + 'skorea_submunicipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))
geo_str['features'] = [i for i in geo_str['features'] if i['properties']['code'][:2] == '11']

# 그냥 생활인구
local = pd.read_csv(os.path.join(data_path, 'LOCAL_PEOPLE_20191119.csv'))

In [4]:
inner = pd.read_csv(os.path.join(data_path, 'INNER_PEOPLE_2019' + date + '.csv'))

In [5]:
inner

,기준일ID,시간대구분,행정동코드,거주지 자치구 코드,총생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세부터74세생활인구수,여자75세부터79세생활인구수,장기체류외국인수
0,20191123,0,11110515,11110,514.3462,*,21,74,25,12,...,23,19,21,26,8,17,7,17,11,28
1,20191123,0,11110515,11140,22.1188,*,*,*,6,*,...,*,*,*,*,*,*,*,*,*,*
2,20191123,0,11110515,11170,49.5570,*,*,*,5,7,...,*,*,*,*,*,*,*,*,8,*
3,20191123,0,11110515,11200,33.9668,*,*,*,*,12,...,*,*,*,*,*,*,*,*,*,*
4,20191123,0,11110515,11215,14.9328,*,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252565,20191123,23,11740700,11620,28.4698,*,*,*,*,4,...,*,*,*,*,*,*,*,*,*,*
252566,20191123,23,11740700,11650,17.1671,*,*,*,*,*,...,*,*,*,*,4,*,*,*,*,*
252567,20191123,23,11740700,11680,77.8158,*,*,*,10,11,...,*,*,*,5,*,*,*,*,*,*
252568,20191123,23,11740700,11710,364.7837,6,7,9,17,19,...,*,14,18,7,16,9,9,*,16,5
252569,20191123,23,11740700,11740,2696.7273,63,81,72,87,91,...,83,104,147,122,171,113,110,72,82,49

In [43]:
mapping = pd.read_csv(os.path.join(data_path,'행정동코드_매핑정보_2018.csv'))
mapping.drop(0, axis =0, inplace = True)

In [44]:
large_mapping = pd.read_csv(os.path.join(data_path,'유입지코드_매핑정보_2018.csv'))

In [45]:
check_inner = np.unique(inner.iloc[:,2].values) # 생활인구데이터 행정동코드 
check2_inner = np.unique(inner.iloc[:,3].values) # 생활인구데이터 자치구코드

In [46]:
large_dict = {i : large_mapping[large_mapping['RESD_CD'] == i].iloc[:,2].values[0] for i in check2_inner} # 자치구코드를 자치구 이름으로
name_dict = {i : mapping[mapping['행자부행정동코드'] == str(i)].iloc[:,4].values[0] for i in check_inner} # 행정동코드를 행정동 이름으로
map_dict = {i : str(mapping[mapping['행자부행정동코드'] == str(i)].iloc[:,0].values[0]) for i in check_inner} # 행정동코드를 통계청행정동 코드로

In [47]:
inner['행정동이름'] = inner['행정동코드'].apply(lambda x : name_dict[x])
inner['자치구이름'] = inner['거주지 자치구 코드'].apply(lambda x : large_dict[x])
inner['행정동코드'] = inner['행정동코드'].apply(lambda x : map_dict[x])

In [48]:
inner = inner[['기준일ID',
 '시간대구분',
 '행정동코드',
 '거주지 자치구 코드',
 '행정동이름',
 '자치구이름',
 '총생활인구수',
 '남자10세부터14세생활인구수',
 '남자15세부터19세생활인구수',
 '남자20세부터24세생활인구수',
 '남자25세부터29세생활인구수',
 '남자30세부터34세생활인구수',
 '남자35세부터39세생활인구수',
 '남자40세부터44세생활인구수',
 '남자45세부터49세생활인구수',
 '남자50세부터54세생활인구수',
 '남자55세부터59세생활인구수',
 '남자60세부터64세생활인구수',
 '남자65세부터69세생활인구수',
 '남자70세부터74세생활인구수',
 '남자75세부터79세생활인구수',
 '여자10세부터14세생활인구수',
 '여자15세부터19세생활인구수',
 '여자20세부터24세생활인구수',
 '여자25세부터29세생활인구수',
 '여자30세부터34세생활인구수',
 '여자35세부터39세생활인구수',
 '여자40세부터44세생활인구수',
 '여자45세부터49세생활인구수',
 '여자50세부터54세생활인구수',
 '여자55세부터59세생활인구수',
 '여자60세부터64세생활인구수',
 '여자65세부터69세생활인구수',
 '여자70세부터74세생활인구수',
 '여자75세부터79세생활인구수',
 '장기체류외국인수']]

In [49]:
prev1 = [ '남자10세부터14세생활인구수',
 '남자15세부터19세생활인구수',
 '남자20세부터24세생활인구수',
 '남자25세부터29세생활인구수',
 '남자30세부터34세생활인구수',
 '남자35세부터39세생활인구수',
 '남자40세부터44세생활인구수',
 '남자45세부터49세생활인구수',
 '남자50세부터54세생활인구수',
 '남자55세부터59세생활인구수',
 '남자60세부터64세생활인구수',
 '남자65세부터69세생활인구수',
 '남자70세부터74세생활인구수',
 '남자75세부터79세생활인구수',]
prev2 =[
 '여자10세부터14세생활인구수',
 '여자15세부터19세생활인구수',
 '여자20세부터24세생활인구수',
 '여자25세부터29세생활인구수',
 '여자30세부터34세생활인구수',
 '여자35세부터39세생활인구수',
 '여자40세부터44세생활인구수',
 '여자45세부터49세생활인구수',
 '여자50세부터54세생활인구수',
 '여자55세부터59세생활인구수',
 '여자60세부터64세생활인구수',
 '여자65세부터69세생활인구수',
 '여자70세부터74세생활인구수',
 '여자75세부터79세생활인구수',]
prev3=[
 '장기체류외국인수']

after1 = {i : 110+5*j for j,i in enumerate(prev1)}
after2 = {i : 210+5*j for j,i in enumerate(prev2)}
after3 = {i : 300 for j,i in enumerate(prev3)}

after = dict(after1, **after2)
after = dict(after, **after3)

In [50]:
inner.rename(columns = after, inplace=True)

In [51]:
inner.to_csv(os.path.join(data_path, 'pre_INNER_PEOPLE_2019' + date + '.csv'))